body {
  background-color: #192a32;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  font-family: "Outfit-Bold", Helvetica;
  background-color: #1f3540;
  box-shadow: inset 0px -10px 0px #10212a;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  color: #a8bec9;
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  color: #a8bec9;
  font-size: 18px;
  margin-bottom: 2%;
}

h3 {
  color: #a8bec9;
  opacity: 0.5;
  font-size: 16px;
  margin-bottom: 10px;
}

.start-menu,
.symbol-selection
.cpu-menu,
.player-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  gap: 15px;
}

.cpu-menu {
  font-weight: 700;
  color: #192a32;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  gap: 40px;
  background-color: #ffc760;
  border-radius: 30px;
  box-shadow: inset 0px -4px 0px #cc8b13;
  width: 100%;
}

.player-menu {
  font-weight: 700;
  color: #192a32;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  gap: 40px;
  background-color: #31c3bd;
  border-radius: 30px;
  box-shadow: inset 0px -4px 0px #1e9a93;
  width: 100%;
}

.cpu-menu:hover {
  background-color: #cc8b13;
}

.player-menu:hover {
  background-color: #1e9a93;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.cell {
  background-color: #1f3540;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-weight: 700;
  font-size: 30px;
  border: 2px solid #10212a;
  box-shadow: inset 0px -6px 0px #10212a;
  border-radius: 10px;
  cursor: pointer;
}

#x {
  font-weight: 700;
  color: #192a32;
  background-color: #31c3bd;
  box-shadow: inset 0px -4px 0px #1e9a93;
  border-radius: 15px;
  height: 20px;
  width: 50px;
  align-items: center;
  padding: 10px;
}

#o {
  font-weight: 700;
  color: #192a32;
  background-color: #f2b137;
  box-shadow: inset 0px -4px 0px #cc8b13;
  border-radius: 15px;
  height: 20px;
  width: 50px;
  align-items: center;
  padding: 10px;
}

#ties {
  font-weight: 700;
  color: #192a32;
  background-color: #a8bec9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 15px;
  height: 20px;
  width: 80px;
  align-items: center;
  padding: 10px;
}

.info {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.game-status {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 2px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}

.modal p {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: auto;
}

.restart{
  padding: 10px 20px;
  margin-bottom: 1px;
}


button {
  font-weight: 700;
  background-color: #3498db;
  box-shadow: inset 0px -4px 0px #2980b9;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 17px;
  color: white;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  background-color: #2980b9;
}
